[run]
include =
  src/*
  testing/*
   */lib/python*/site-packages/pytest_validate/*
  */lib/python*/site-packages/pytest_validate.py
  */pypy*/site-packages/pytest_validate/*
  */pypy*/site-packages/pytest_validate.py
  *\Lib\site-packages\pytest_validate\*
  *\Lib\site-packages\pytest_validate.py
parallel = 1
branch = 1

[paths]
source = src/
  */lib/python*/site-packages/
  */pypy*/site-packages/
  *\Lib\site-packages\

[report]
skip_covered = True
show_missing = True
exclude_lines =
    \#\s*pragma: no cover
    ^\s*raise NotImplementedError\b
    ^\s*return NotImplemented\b
    ^\s*if TYPE_CHECKING:


